header.header
    .header__top
        .wrapper
            .header__adress
                p 630005, г. Hoвocи6иpcк, ул. Крылова, 36, оф. 85, 86
                p Пн—Чт: с 09:00 до 18:00, Пт: с 09:00 до 17:00
            .header__contact
                a(href="#") Заказать звонок
                a(href="tel:+ 73832491041") + 7 (383) 249-10-41
    .header__bottom.wrapper
        a(href="./").logo
            img(src="./images/icon/logo.svg", alt="logo")
        .header__wrap
            .header__block
                .header__search
                    form(action="#")
                        input(type="text", placeholder="Поиск")
                        input(type="submit", value="")
                .header__login
                    .header__login_wrap
                        img(src="./images/icon/login.svg", alt="login")
                        p 
                            span Добро пожаловать, 
                            a(href="#") login
                    a(href="#") Выйти
            nav.menu
                ul
                    li.has-sub__1
                        a(href="#") Об организации
                        <svg width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.9515 5.83944L1.05593 1.56044C0.606561 0.896363 1.0823 0 1.88413 0H7.99699C8.82159 0 9.29182 0.941876 8.79627 1.60096L5.57898 5.87996C5.1664 6.42869 4.33625 6.40802 3.9515 5.83944Z" fill="#9ABA28"/>
                        </svg>
                        ul
                            li
                                a(href="#") Подменю
                            li
                                a(href="#") Подменю
                    li.has-sub__1
                        a(href="#") Членам СРО
                        <svg width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.9515 5.83944L1.05593 1.56044C0.606561 0.896363 1.0823 0 1.88413 0H7.99699C8.82159 0 9.29182 0.941876 8.79627 1.60096L5.57898 5.87996C5.1664 6.42869 4.33625 6.40802 3.9515 5.83944Z" fill="#9ABA28"/>
                        </svg>
                        ul
                            li
                                a(href="#") Подменю
                            li
                                a(href="#") Подменю
                    li.has-sub__1
                        a(href="#") Документы
                        <svg width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.9515 5.83944L1.05593 1.56044C0.606561 0.896363 1.0823 0 1.88413 0H7.99699C8.82159 0 9.29182 0.941876 8.79627 1.60096L5.57898 5.87996C5.1664 6.42869 4.33625 6.40802 3.9515 5.83944Z" fill="#9ABA28"/>
                        </svg>
                        ul
                            li
                                a(href="#") Подменю
                            li
                                a(href="#") Подменю
                    li
                        a(href="#") НРС
                    li
                        a(href="#") Контакты
section.content.main.wrapper
    aside.sidebar
        ul
            li
                a(href="#") Структура органов управления
            li
                a(href="#") Персоналии
            li
                a(href="#") Учредительные документы
            li
                a(href="#") Внутренние документы
            li
                a(href="#") Решения Общего собрания
            li
                a(href="#") Решения Совета Ассоциации
            li
                a(href="#") Обеспечение ответственности
            li
                a(href="#") Контроль за деятельностью членов СРО АППС
            li
                a(href="#") Иски
            li
                a(href="#") Отчетность СРО АППС
            li
                a(href="#") Надзорные органы
            li
                a(href="#") Законодательство
            li
                a(href="#") Партнеры СРО АППС
            li
                a(href="#") Анализ деятельности членов
    .page
        .bredcrumbs
            a(href="./") Главная
            img(src="./images/icon/bread.svg", alt="arrow")
            a(href="#").active Об организации
        .about
            h2 Об организации
            p Саморегулируемая организация Ассоциация профессиональных проектировщиков Сибири (СРО АППС) основана на членстве проектировщиков, работающих как индивидуальные предприниматели, и юридических лиц, осуществляющих подготовку проектной документации. Регистрационный номер в государственном реестре саморегулируемых организаций 
                strong СРО-П-201-04062018.
            p Ассоциация была создана в 2016 году в городе Новосибирске, где базируется и в настоящее время. 
                strong Статус Саморегулируемой организации присвоен нашей Ассоциации приказом №СП-70 Федеральной службы по экологическому технологическому и атомному надзору 4 июня 2018 года. 
                | Мы являемся членами 
                a(href="#") НОПРИЗ 
                | (Национального объединения саморегулируемых организаций, основанных на членстве лиц, выполняющих инженерные изыскания, и саморегулируемых организаций), включены в реестр операторов персональных данных 
                a(href="#") Роскомнадзора, 
                | а также относимся к операторам национального реестра специалистов. 
                strong Согласно последним данным (октябрь 2020 года), членами СРО АППС являются 384 физических и юридических лиц, представляющих 17 субъектов Российской Федерации.
            img(src="./images/decor/map.jpg", alt="map")
            h3 Приоритетные направления деятельности
            ul
                li разработка стандартов и критериев деятельности проектных организаций, повышающих уровень здоровой конкуренции на рынке услуг;
                li представление интересов своих членов на всех уровня государственной власти, в контрольных и надзорных органах;
                li участие в законотворческой деятельности в интересах своих членов;
                li повышение качества разрабатываемой проектной документации;
                li предотвращение недостатков в разрабатываемой документации, предупреждение случаев нарушения законодательства о градостроительной деятельности своими членами за счет повышения уровня их информированности.
            h3 Преимущества вступления в СРО АППС
            p Выбирая нас вы получаете надежных партнеров в области проектирования:
            ul
                li наши сотрудники окажут Вам квалифицированную и бесплатную консультацию в подготовке пакета документов для вступления;
                li мы являемся оператором НРС, что позволит Вам бесплатно и быстро включить своих сотрудников в национальный реестр, без затрат на нотариуса и сопровождение;
                li заседания Совета Ассоциации проводятся каждую неделю, что позволит Вам стать нашим партнером в кратчайшие сроки;
                li если Вашу СРО исключили из государственного реестра, мы готовы предоставить Вам льготные условия для вступления, оказать помощь в возврате уплаченных компенсационных фондов.
            p Наши партнеры получают квалифицированную информационную и юридическую поддержку.
            p СРО АППС организует конференции и семинары, повышающие профессиональную грамотность и квалификацию специалистов в своей области, организует мероприятия по обмену опытом между участниками сообщества из разных регионов Российской Федерации. Дает возможность своим членам стать участниками мероприятий Национального объединения изыскателей и проектировщиков, Министерства строительства.
            h4 Процедура вступления
            p Членами СРО АППС могут стать как индивидуальные предприниматели, так и юрлица, занимающиеся подготовкой проектной документации и соответствующие требованиям Градостроительного кодекса. Для вступления необходимо предоставить минимальный пакет документов, включающий уставные документы и сведения о специалистах.
            p Стоимость вступления зависит от предполагаемых объемов выполнения работ и желания кандидата участвовать в конкурсах и торгах.
            p Вступительный и членский взнос являются минимальными и равными для всех, вне зависимости от объемов работ.
            p
                a(href="#") Подробная информация о порядке вступления
            .info__question
                p Остались вопросы? С удовольствием на них ответим!
                a(href="#") Задать вопрос
footer.footer
    .wrapper
        .footer__logo
            a(href="./") АССОЦИАЦИЯ ПРОФЕССИОНАЛЬНЫХ ПРОЕКТИРОВЩИКОВ СИБИРИ
            p © 2016-2020 Саморегулируемая организация Ассоциация профессиональных проектировщиков Сибири
        .footer__contacts
            h4 Наши контакты
            p 630005, г. Новосибирск, ул. Крылова, 36, офисы 85, 86
            a(href="mailto:apps-54@mail.ru") apps-54@mail.ru
            a(href="#") Карта сайта
        .footer__tel
            h4 Телефоны
            a(href="tel:+73832491041") +7 (383) 249-10-41
            a(href="tel:+73833499368") +7 (383) 349-93-68
            p Регистрационный номер в государственном реестре саморегулируемых организаций СРО-П-201-04062018
        .footer__links
            .footer__text
                a(href="#") Создание сайтов
                a(href="#") Продвижение сайтов
            a(href="#")
                img(src="./images/icon/kontur.svg", alt="kontur")
