header.header
    .header__top
        .wrapper
            .header__adress
                p 630005, г. Hoвocи6иpcк, ул. Крылова, 36, оф. 85, 86
                p Пн—Чт: с 09:00 до 18:00, Пт: с 09:00 до 17:00
            .header__contact
                a(href="#") Заказать звонок
                a(href="tel:+ 73832491041") + 7 (383) 249-10-41
    .header__bottom.wrapper
        a(href="./").logo
            img(src="./images/icon/logo.svg", alt="logo")
        .header__wrap
            .header__block
                .header__search
                    form(action="#")
                        input(type="text", placeholder="Поиск")
                        input(type="submit", value="")
                .header__login
                    .header__login_wrap
                        img(src="./images/icon/login.svg", alt="login")
                        p 
                            span Добро пожаловать, 
                            a(href="#") login
                    a(href="#") Выйти
            nav.menu
                ul
                    li.has-sub__1
                        a(href="#") Об организации
                        <svg width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.9515 5.83944L1.05593 1.56044C0.606561 0.896363 1.0823 0 1.88413 0H7.99699C8.82159 0 9.29182 0.941876 8.79627 1.60096L5.57898 5.87996C5.1664 6.42869 4.33625 6.40802 3.9515 5.83944Z" fill="#9ABA28"/>
                        </svg>
                        ul
                            li
                                a(href="#") Подменю
                            li
                                a(href="#") Подменю
                    li.has-sub__1
                        a(href="#") Членам СРО
                        <svg width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.9515 5.83944L1.05593 1.56044C0.606561 0.896363 1.0823 0 1.88413 0H7.99699C8.82159 0 9.29182 0.941876 8.79627 1.60096L5.57898 5.87996C5.1664 6.42869 4.33625 6.40802 3.9515 5.83944Z" fill="#9ABA28"/>
                        </svg>
                        ul
                            li
                                a(href="#") Подменю
                            li
                                a(href="#") Подменю
                    li.has-sub__1
                        a(href="#") Документы
                        <svg width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.9515 5.83944L1.05593 1.56044C0.606561 0.896363 1.0823 0 1.88413 0H7.99699C8.82159 0 9.29182 0.941876 8.79627 1.60096L5.57898 5.87996C5.1664 6.42869 4.33625 6.40802 3.9515 5.83944Z" fill="#9ABA28"/>
                        </svg>
                        ul
                            li
                                a(href="#") Подменю
                            li
                                a(href="#") Подменю
                    li
                        a(href="#") НРС
                    li
                        a(href="#") Контакты
section.content.main.wrapper
    aside.account
        p Личный кабинет
        ul
            li.person-link
                a(href="#0") Основная информация
            li.list-link
                a(href="#0") Выписки
            li
                a(href="#0") О переносе Общего собрания
            li.payment-link
                a(href="#0") Членские взносы
            li.fond-link.active
                a(href="#0") Компенсационные фонды
            li
                a(href="#0") Информация для членов СРО
            li
                a(href="#0") Исполнительная документация
            li
                a(href="#0") Изменить пароль
            li
                a(href="#0") Выход
    .page
        .bredcrumbs
            a(href="./") Главная
            img(src="./images/icon/bread.svg", alt="arrow")
            a(href="#") Личный кабинет
            img(src="./images/icon/bread.svg", alt="arrow")
            a(href="#").active Членские взносы
        .accoint__info
            .fond
                h2 Компенсационные фонды
                h4 Размер взноса в компенсационный фонд возмещения вреда в зависимости от уровня ответственности
                .table__big
                    .table__row.thead
                        span № п/п
                        span Размер взноса
                        span Стоимость работ по одному договору подряда
                        span Уровень ответственности
                        span 
                    .table__row.green
                        span 1
                        span 50 000 рублей
                        span не превышает 25 млн рублей
                        span первый
                        span 
                            a(href="#") Мой уровень
                            a(href="#") Повысить уровень  ответственности
                    .table__row
                        span 2
                        span 150 000 рублей
                        span не превышает 50 млн рублей
                        span второй
                        span 
                    .table__row
                        span 3
                        span 500 000 рублей
                        span не превышает 300 млн рублей
                        span третий
                        span 
                    .table__row 
                        span 4
                        span 1 000 000 рублей
                        span составляет 300 млн рублей и более
                        span четвертый
                        span 
                h4 Размер взноса в компенсационный фонд обеспечения договорных обязательств в зависимости от уровня ответственности
                .table__big
                    .table__row.thead
                        span № п/п
                        span Размер взноса
                        span Стоимость работ по одному договору подряда
                        span Уровень ответственности
                        span 
                    .table__row
                        span 1
                        span 50 000 рублей
                        span не превышает 25 млн рублей
                        span первый
                        span 
                    .table__row.green
                        span 2
                        span 150 000 рублей
                        span не превышает 50 млн рублей
                        span второй
                        span 
                            a(href="#") Мой уровень
                            a(href="#") Повысить уровень  ответственности
                    .table__row
                        span 3
                        span 500 000 рублей
                        span не превышает 300 млн рублей
                        span третий
                        span 
                    .table__row 
                        span 4
                        span 1 000 000 рублей
                        span составляет 300 млн рублей и более
                        span четвертый
                        span 
                h4 Реквизиты
                h5 Для перечисления средств компенсационного фонда возмещения вреда
                .payment__table
                    .payment__row
                        span Расчетный счет
                        span 40703810916035000088
                    .payment__row
                        span Банк
                        span Филиал БАНКА ВТБ (ПАО) в г. Красноярск
                    .payment__row
                        span Корреспондентский счет
                        span 30101810200000000777
                    .payment__row
                        span БИК
                        span 040407777
                    .payment__row
                        span Получатель
                        span СРО АППС (ИНН 5406984474, КПП 540601001)
                h5 Для перечисления средств компенсационного фонда обеспечения договорных обязательств
                .payment__table
                    .payment__row
                        span Расчетный счет
                        span 40703810916035000088
                    .payment__row
                        span Банк
                        span Филиал БАНКА ВТБ (ПАО) в г. Красноярск
                    .payment__row
                        span Корреспондентский счет
                        span 30101810200000000777
                    .payment__row
                        span БИК
                        span 040407777
                    .payment__row
                        span Получатель
                        span СРО АППС (ИНН 5406984474, КПП 540601001)
footer.footer
    .wrapper
        .footer__logo
            a(href="./") АССОЦИАЦИЯ ПРОФЕССИОНАЛЬНЫХ ПРОЕКТИРОВЩИКОВ СИБИРИ
            p © 2016-2020 Саморегулируемая организация Ассоциация профессиональных проектировщиков Сибири
        .footer__contacts
            h4 Наши контакты
            p 630005, г. Новосибирск, ул. Крылова, 36, офисы 85, 86
            a(href="mailto:apps-54@mail.ru") apps-54@mail.ru
            a(href="#") Карта сайта
        .footer__tel
            h4 Телефоны
            a(href="tel:+73832491041") +7 (383) 249-10-41
            a(href="tel:+73833499368") +7 (383) 349-93-68
            p Регистрационный номер в государственном реестре саморегулируемых организаций СРО-П-201-04062018
        .footer__links
            .footer__text
                a(href="#") Создание сайтов
                a(href="#") Продвижение сайтов
            a(href="#")
                img(src="./images/icon/kontur.svg", alt="kontur")
