header.header
    .header__top
        .wrapper
            .header__adress
                p 630005, г. Hoвocи6иpcк, ул. Крылова, 36, оф. 85, 86
                p Пн—Чт: с 09:00 до 18:00, Пт: с 09:00 до 17:00
            .header__contact
                a(href="#") Заказать звонок
                a(href="tel:+ 73832491041") + 7 (383) 249-10-41
    .header__bottom.wrapper
        a(href="./").logo
            img(src="./images/icon/logo.svg", alt="logo")
        .header__wrap
            .header__block
                .header__search
                    form(action="#")
                        input(type="text", placeholder="Поиск")
                        input(type="submit", value="")
                a(href="#")
                    img(src="./images/icon/login.svg", alt="login")
                    | Личный кабинет
            nav.menu
                ul
                    li.has-sub__1
                        a(href="#") Об организации
                        <svg width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.9515 5.83944L1.05593 1.56044C0.606561 0.896363 1.0823 0 1.88413 0H7.99699C8.82159 0 9.29182 0.941876 8.79627 1.60096L5.57898 5.87996C5.1664 6.42869 4.33625 6.40802 3.9515 5.83944Z" fill="#9ABA28"/>
                        </svg>
                        ul
                            li
                                a(href="#") Подменю
                            li
                                a(href="#") Подменю
                    li.has-sub__1
                        a(href="#") Членам СРО
                        <svg width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.9515 5.83944L1.05593 1.56044C0.606561 0.896363 1.0823 0 1.88413 0H7.99699C8.82159 0 9.29182 0.941876 8.79627 1.60096L5.57898 5.87996C5.1664 6.42869 4.33625 6.40802 3.9515 5.83944Z" fill="#9ABA28"/>
                        </svg>
                        ul
                            li
                                a(href="#") Подменю
                            li
                                a(href="#") Подменю
                    li.has-sub__1
                        a(href="#") Документы
                        <svg width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.9515 5.83944L1.05593 1.56044C0.606561 0.896363 1.0823 0 1.88413 0H7.99699C8.82159 0 9.29182 0.941876 8.79627 1.60096L5.57898 5.87996C5.1664 6.42869 4.33625 6.40802 3.9515 5.83944Z" fill="#9ABA28"/>
                        </svg>
                        ul
                            li
                                a(href="#") Подменю
                            li
                                a(href="#") Подменю
                    li
                        a(href="#") НРС
                    li
                        a(href="#") Контакты
section.news-wrap.main.wrapper
    .bredcrumbs
        a(href="./") Главная
        img(src="./images/icon/bread.svg", alt="arrow")
        a(href="#").active Новости
    .news-wrap__wrap
        h2 Новости
        .news-wrap__items
            .news-wrap__item
                span 30 сентября 2020
                h3 Состоялась Конференция НОПРИЗ в Иркутске
                p 24 сентября состоялась Конференция Саморегулируемых организаций по Сибирскому Федеральному округу, посвященная вопросам развития квалификаций в сфере инженерных изысканий и архитектурно-строительного проектирования
                a(href="#") Подробнее
                    img(src="./images/icon/news.svg", alt="news")
            .news-wrap__item
                span 21 сентября 2020
                h3 Об итогах Общего собрания
                p 18 сентября состоялось отчетное Общее собрание членов СРО АППС
                a(href="#") Подробнее
                    img(src="./images/icon/news.svg", alt="news")
            .news-wrap__item
                span 9 сентября 2020
                h3 О переносе Общего собрания
                p Уважаемые Партнеры! Уведомляем Вас о переносе Общего собрания на 18 сентября 2020 года
                a(href="#") Подробнее
                    img(src="./images/icon/news.svg", alt="news")
            .news-wrap__item
                span 10 августа 2020
                h3 Федеральный центр нормирования и стандартизации проводит опрос
                p Опрос проводится в рамках выполнения научно-исследовательской работы по разработке проектов организации строительства (ПОС) с использованием технологий информационного моделирования
                a(href="#") Подробнее
                    img(src="./images/icon/news.svg", alt="news")
            .news-wrap__item
                span 15 июля 2020
                h3 Ежегодный конкурс на лучшее предприятие строительной отрасли НСО
                p Министерство строительства Новосибирской области объявляет ежегодный конкурс среди организаций строительного комплекса Новосибирской области по результатам деятельности в 2019 году
                a(href="#") Подробнее
                    img(src="./images/icon/news.svg", alt="news")
            .news-wrap__item
                span 10 августа 2020
                h3 Просим пройти опрос
                p Уважаемые члены, просим Вас пройти опрос на тему выдачи займов из средств компенсационного фонда обеспечения договорных обязательств
                a(href="#") Подробнее
                    img(src="./images/icon/news.svg", alt="news")
            .news-wrap__item
                span 10 июля 2020
                h3 СРО может предоставлять своим членам займы
                p 8 июля 2020 года вступило в силу Постановление Правительства Российской Федерации №938 «Об утверждении Положения об отдельных условиях предоставления займов членам саморегулируемых организаций и порядке осуществления контроля за использованием средств, предоставленных по таким займам»
                a(href="#") Подробнее
                    img(src="./images/icon/news.svg", alt="news")
            .news-wrap__item
                span 30 апреля 2020
                h3 Профессиональный конкурс "Проектный Олимп"
                p Традиционный конкурс "Проектный Олимп" проводится при поддержке Аппарата Правительства Российской Федерации с 1 марта по 19 ноября
                a(href="#") Подробнее
                    img(src="./images/icon/news.svg", alt="news")
            .news-wrap__item
                span 15 апреля 2020
                h3 Бесплатные вебинары для проектировщиков от Главгосэкспертизы
                p Учебный центр Главгосэкспертизы России проведет серию бесплатных вебинаров в рамках реализации онлайн-проектов
                a(href="#") Подробнее
                    img(src="./images/icon/news.svg", alt="news")
            .news-wrap__item
                span 6 апреля 2020
                h3 О возобновлении деятельности на территории НСО
                p Организации, принявшие решение о возобновлении деятельности, обязаны уведомлять Правительство НСО
                a(href="#") Подробнее
                    img(src="./images/icon/news.svg", alt="news")
        .pages
            span 
                <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 1L2 6L7 11" stroke="#9ABA28" stroke-width="2"/>
                </svg>
            span.active 1
            span 2
            span ...
            span 10
            span 
                <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L6 6L1 11" stroke="#9ABA28" stroke-width="2"/>
                </svg>
footer.footer
    .wrapper
        .footer__logo
            a(href="./") АССОЦИАЦИЯ ПРОФЕССИОНАЛЬНЫХ ПРОЕКТИРОВЩИКОВ СИБИРИ
            p © 2016-2020 Саморегулируемая организация Ассоциация профессиональных проектировщиков Сибири
        .footer__contacts
            h4 Наши контакты
            p 630005, г. Новосибирск, ул. Крылова, 36, офисы 85, 86
            a(href="mailto:apps-54@mail.ru") apps-54@mail.ru
            a(href="#") Карта сайта
        .footer__tel
            h4 Телефоны
            a(href="tel:+73832491041") +7 (383) 249-10-41
            a(href="tel:+73833499368") +7 (383) 349-93-68
            p Регистрационный номер в государственном реестре саморегулируемых организаций СРО-П-201-04062018
        .footer__links
            .footer__text
                a(href="#") Создание сайтов
                a(href="#") Продвижение сайтов
            a(href="#")
                img(src="./images/icon/kontur.svg", alt="kontur")