header.header
    .header__top
        .wrapper
            .header__adress
                p 630005, г. Hoвocи6иpcк, ул. Крылова, 36, оф. 85, 86
                p Пн—Чт: с 09:00 до 18:00, Пт: с 09:00 до 17:00
            .header__contact
                a(href="#") Заказать звонок
                a(href="tel:+ 73832491041") + 7 (383) 249-10-41
    .header__bottom.wrapper
        a(href="./").logo
            img(src="./images/icon/logo.svg", alt="logo")
        .header__wrap
            .header__block
                .header__search
                    form(action="#")
                        input(type="text", placeholder="Поиск")
                        input(type="submit", value="")
                .header__login
                    .header__login_wrap
                        img(src="./images/icon/login.svg", alt="login")
                        p 
                            span Добро пожаловать, 
                            a(href="#") login
                    a(href="#") Выйти
            nav.menu
                ul
                    li.has-sub__1
                        a(href="#") Об организации
                        <svg width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.9515 5.83944L1.05593 1.56044C0.606561 0.896363 1.0823 0 1.88413 0H7.99699C8.82159 0 9.29182 0.941876 8.79627 1.60096L5.57898 5.87996C5.1664 6.42869 4.33625 6.40802 3.9515 5.83944Z" fill="#9ABA28"/>
                        </svg>
                        ul
                            li
                                a(href="#") Подменю
                            li
                                a(href="#") Подменю
                    li.has-sub__1
                        a(href="#") Членам СРО
                        <svg width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.9515 5.83944L1.05593 1.56044C0.606561 0.896363 1.0823 0 1.88413 0H7.99699C8.82159 0 9.29182 0.941876 8.79627 1.60096L5.57898 5.87996C5.1664 6.42869 4.33625 6.40802 3.9515 5.83944Z" fill="#9ABA28"/>
                        </svg>
                        ul
                            li
                                a(href="#") Подменю
                            li
                                a(href="#") Подменю
                    li.has-sub__1
                        a(href="#") Документы
                        <svg width="9" height="7" viewBox="0 0 9 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.9515 5.83944L1.05593 1.56044C0.606561 0.896363 1.0823 0 1.88413 0H7.99699C8.82159 0 9.29182 0.941876 8.79627 1.60096L5.57898 5.87996C5.1664 6.42869 4.33625 6.40802 3.9515 5.83944Z" fill="#9ABA28"/>
                        </svg>
                        ul
                            li
                                a(href="#") Подменю
                            li
                                a(href="#") Подменю
                    li
                        a(href="#") НРС
                    li
                        a(href="#") Контакты
section.content.main.wrapper
    aside.account
        p Личный кабинет
        ul
            li.person-link
                a(href="#0") Основная информация
            li.list-link
                a(href="#0") Выписки
            li
                a(href="#0") О переносе Общего собрания
            li.payment-link.active
                a(href="#0") Членские взносы
            li.fond-link
                a(href="#0") Компенсационные фонды
            li
                a(href="#0") Информация для членов СРО
            li
                a(href="#0") Исполнительная документация
            li
                a(href="#0") Изменить пароль
            li
                a(href="#0") Выход
    .page
        .bredcrumbs
            a(href="./") Главная
            img(src="./images/icon/bread.svg", alt="arrow")
            a(href="#") Личный кабинет
            img(src="./images/icon/bread.svg", alt="arrow")
            a(href="#").active Членские взносы
        .accoint__info            
            .payment
                h2 Членские взносы
                h4 Реквизиты на оплату членских взносов
                .payment__table
                    .payment__row
                        span Расчетный счет
                        span 35867295694579374503754017
                    .payment__row
                        span Банк
                        span Название банка
                    .payment__row
                        span БИК
                        span 94579374503
                    .payment__row
                        span Корреспондентский счет
                        span 35867295694579374503754017
                .payment__text
                    p Уплата взносов в саморегулируемую организацию – это денежное обязательство каждого члена Ассоциации, а не гражданско-правовая сделка, поэтому осуществлять платежи можно без счетов в сроки и в размерах, принятых 
                        a(href="#") внутренними документами Ассоциации.
                    p  Сообщаем, что взнос в компенсационный фонд и членский взнос не являются оказанными услугами, выполненными работами, проданным товаром. В связи с этим, не возникает объекта налогообложения НДС (ст. 146 НК РФ) и акты выполненных работ (оказанных услуг), счета-фактуры не выдаются (п. 1 ст. 169 НК РФ).
                    p Списать указанные выше взносы на расходы организации рекомендуется на основании пп. 1 п. 29 ст. 264 НК РФ (кроме организаций, применяющих УСН, т.к. перечень расходов для таких организаций является закрытым (п. 1 ст. 346.16 НК РФ)).
                    h5 Подтвердить осуществленные расходы организация может следующими документами:
                    ul
                        li платежными поручениями на перечисление взносов;
                        li выпиской из реестра членов Ассоциации.
                .payment__btns
                    a(href="#0").arrears-btn Узнать задолженность
                    a(href="#")
                        img(src="./images/icon/receipt.svg", alt="receipt")
                        | Сформировать счёт
.arrears
    .arrears__wrap
        a(href="#0").popup__close
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.6663 3.07905L16.9206 1.33334L9.99967 8.25429L3.07872 1.33334L1.33301 3.07905L8.25396 10L1.33301 16.921L3.07872 18.6667L9.99967 11.7457L16.9206 18.6667L18.6663 16.921L11.7454 10L18.6663 3.07905Z" fill="#9ABA28" stroke="#9ABA28"/>
            </svg>
        p Ваша задолженность составляет 
            span Х 
            | рублей.
        p Оплатите задолженность, чтобы иметь возможность пользоваться всеми функциями личного кабинета.
footer.footer
    .wrapper
        .footer__logo
            a(href="./") АССОЦИАЦИЯ ПРОФЕССИОНАЛЬНЫХ ПРОЕКТИРОВЩИКОВ СИБИРИ
            p © 2016-2020 Саморегулируемая организация Ассоциация профессиональных проектировщиков Сибири
        .footer__contacts
            h4 Наши контакты
            p 630005, г. Новосибирск, ул. Крылова, 36, офисы 85, 86
            a(href="mailto:apps-54@mail.ru") apps-54@mail.ru
            a(href="#") Карта сайта
        .footer__tel
            h4 Телефоны
            a(href="tel:+73832491041") +7 (383) 249-10-41
            a(href="tel:+73833499368") +7 (383) 349-93-68
            p Регистрационный номер в государственном реестре саморегулируемых организаций СРО-П-201-04062018
        .footer__links
            .footer__text
                a(href="#") Создание сайтов
                a(href="#") Продвижение сайтов
            a(href="#")
                img(src="./images/icon/kontur.svg", alt="kontur")
